<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="7.0.19176.14015-wip" targetFramework="net461" />
  <package id="Revit.AdWindows.x64" version="2019.0.0" targetFramework="net471" />
  <package id="RhinoCommon" version="7.0.19176.14015-wip" targetFramework="net461" />
</packages>